.choice {
  transition: 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0.75rem 0;
  padding: 1.5rem;
  height: 30px;
  width: 100%;
  border-radius: var(--default-btn-radius);
  color: rgba(0, 0, 0, 0.8);
}

.choice.active {
  background-color: var(--accent);
}

.choice.unactive {
  background-color: var(--accent-0-25);
}

.choice.unactive.notEmpty:hover {
  background-color: var(--accent-0-5);
}

.choiceContainer {
  display: flex;
  align-items: center;
}

.choiceCharacter {
  position: absolute;
  left: 10%;
  border: 2px solid black;
  width: 25px;
  height: 25px;
  border-radius: 5rem;
}
.choiceCharacter span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.choice input {
  border: none;
  border-radius: var(--default-btn-radius);
  font-family: inherit;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.25rem;
}

/* .choiceTitle {
  color: var(--text);
}

.choiceTitle span {
  color: var(--red);
}

.choice {
  position: relative;
}

.choice div {
  height: 100%;
}

.choice.active .choiceInputContainer {
  background-color: var(--accent);
}

.choice.unactive .choiceInputContainer {
  background-color: var(--accent-0-25);
}

.choiceInputContainer {
  z-index: 0;
  transition: 0.15s;
  border-radius: 0.25rem;
}

.unactive.notEmpty .choiceInputContainer:hover {
  background-color: var(--accent-0-5);
}

.choice input {
  z-index: 1;
  font-family: inherit;
  left: 50%;
  top: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  width: 90%;
  border: none;
  text-align: center;
  padding: 1rem;
  border-radius: 0.25rem;
}

.choice .choiceText {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
}

.choice.notEmpty .correctContainer {
  margin: 0.5rem;
  border-radius: 50%;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  background: none;
}

.choice.empty .correctContainer {
  display: none;
}

.correctContainer:hover {
  cursor: pointer;
}

.correctContainer img {
  margin: -2px 0 0 -2px;
} */
