.dialog {
  z-index: 9999;
  position: absolute;
  background-color: var(--modal-bg);
  padding: 1rem;
  border-radius: 0.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
  color: var(--text);
}

.dialogMsg {
  margin: 0.5rem 0;
}

.dialogActions {
  margin: 0.2rem 0 0 0;
}

.dialog button {
  transition: 0.15s;
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.yesBtn {
  background-color: var(--green-dark);
}
.yesBtn:hover {
  background-color: var(--green-dark-hover);
}
.noBtn {
  background-color: var(--red-dark);
}
.noBtn:hover {
  background-color: var(--red-dark-hover);
}

.dialog button:first-child {
  margin-right: 0.5rem;
}
