* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent: rgb(62, 217, 124);
  --accent-rgb: 62, 217, 124;
  --accent-0-2: rgba(var(--accent-rgb), 0.2);
  --accent-0-5: rgba(var(--accent-rgb), 0.5);
  --accent-0-8: rgba(var(--accent-rgb), 0.8);

  --accent-hover: rgb(53, 182, 105);

  --blue: rgb(62, 65, 217);

  --pad: 3rem;
}

main {
  font-family: var(--poppins);
}

a {
  color: var(--blue);
}
