* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent: rgb(62, 152, 217);
  --accent-rgb: 62, 152, 217;
  --accent-0-25: rgba(var(--accent-rgb), 0.25);
  --accent-0-5: rgba(var(--accent-rgb), 0.5);
  --accent-0-8: rgba(var(--accent-rgb), 0.8);

  --accent-hover: rgb(55, 136, 193);
  --accent-hover-2: rgb(50, 123, 176);

  --bg: #24272a;
  --modal-bg: #26323f;

  --text: rgba(255, 255, 255, 0.8);
  --text-grey: rgba(255, 255, 255, 0.4);

  --skeleton-bg: var(--accent);
  --skeleton-hg: #9ecdec; /*  accent-0-5 */

  --blue: rgb(62, 65, 217);

  --light-blue: rgb(62, 180, 217);
  --light-blue-rgb: 62, 180, 217;
  --light-blue-0-5: rgba(var(--light-blue-rgb), 0.5);

  --green: rgb(84, 217, 62);
  --green-0-5: rgba(84, 217, 62, 0.5);
  --green-0-2: rgba(84, 217, 62, 0.2);

  --green-hover: rgb(74, 189, 54);
  --green-dark: rgb(62, 151, 46);
  --green-dark-hover: rgb(54, 132, 41);

  --red: rgb(212, 43, 43);
  --red-rgb: 212, 43, 43;
  --red-0-5: rgba(var(--red-rgb), 0.5);
  --red-0-2: rgba(var(--red-rgb), 0.2);
  --red-hover: rgb(184, 38, 38);

  --red-dark: rgb(146, 33, 33);
  --red-dark-hover: rgb(133, 30, 30);

  --grey: #6a757e;
  --grey-hover: #626d75;
  --grey-hover-2: #5a646b;

  --white-filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(265deg)
    brightness(104%) contrast(103%);
  
  --black-filter: filter: invert(0%) sepia(95%) saturate(20%) hue-rotate(354deg) 
    brightness(98%) contrast(104%);

  --pad: 3rem;
  --modal-pad: 2rem 5rem;
  --margin: 0 5rem;

  --default-btn-radius: 0.15rem;
}

body {
  overflow-x: hidden;
  background-color: var(--bg);
}

main {
  font-family: var(--poppins);
}

a {
  color: var(--blue);
}

.margin {
  width: 60%;
  max-width: 850px;
  margin: 0 auto;
}

.default .center {
  width: 60%;
  max-width: 850px;
  margin: 0 auto;
  position: relative;
  margin-top: 5rem;
}

@media screen and (max-width: 775px) {
  .margin {
    width: auto;
    margin: 0 2rem;
  }
  .default .center {
    width: 75%;
  }
}
