* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent: rgb(62, 217, 124);
  --accent-rgb: 62, 217, 124;
  --accent-0-2: rgba(var(--accent-rgb), 0.2);
  --accent-0-5: rgba(var(--accent-rgb), 0.5);
  --accent-0-8: rgba(var(--accent-rgb), 0.8);

  --accent-hover: rgb(53, 182, 105);

  --blue: rgb(62, 65, 217);

  --light-blue: rgb(62, 180, 217);
  --light-blue-rgb: 62, 180, 217;
  --light-blue-0-5: rgba(var(--light-blue-rgb), 0.5);

  --red: #d93e3e;
  --red-rgb: 217, 62, 62;
  --red-0-5: rgba(var(--red-rgb), 0.5);
  --red-0-2: rgba(var(--red-rgb), 0.2);

  --pad: 3rem;
  --modal-pad: 2rem 5rem;
}

body {
  overflow-x: hidden;
}

main {
  font-family: var(--poppins);
}

a {
  color: var(--blue);
}

.default .center {
  width: 55%;
  max-width: 850px;
  margin: 0 auto;
  position: relative;
  margin-top: 5rem;
}
