.container h2 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}

.recent {
  margin-top: 4rem;
}

.items {
  padding-bottom: 2rem;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}

.browseBtn {
  width: 125px;
  transition: 0.15s;
  position: absolute;
  margin-bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  color: rgba(0, 0, 0, 0.8);
  font-family: inherit;
  background-color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.browseBtn a {
  text-decoration: none;
  color: inherit;
}

.browseBtn:hover,
.browseBtn.outline:hover {
  cursor: pointer;
  border-color: var(--accent-hover);
  background-color: var(--accent-hover);
}

.browseBtn:active {
  transition: 0.05s;
  outline: 2px solid var(--accent-hover);
  outline-offset: 2px;
}
