.block {
  z-index: 2;
  height: calc(100% - 50px);
  position: absolute;
}

.default .block {
  width: 20%;
}

.wide .block {
  width: 15%;
}

.right.block {
  right: 0;
}

.block .blockTop {
  background-color: #d8f8e5;
  height: calc(30% - 35px);
}

.block .blockBottom {
  background-color: var(--bg);
  height: 100%;
}

.wrapper {
  position: absolute;
  top: 15%;
  height: 70vh;
}

.default .wrapper {
  left: 20%;
  width: 60%;
}

.wide .wrapper {
  left: 15%;
  width: 70%;
}

.pageTitle {
  margin-left: 4px;
  margin-bottom: 0.25rem;
  color: var(--text);
}

.modal {
  margin: 0 4px;
  background-color: var(--modal-bg);
  border-radius: 1rem;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1500px) {
  .block {
    width: 30%;
  }
  .wrapper {
    left: 30%;
    width: 40%;
  }
}

@media screen and (max-width: 750px) {
  .block {
    display: none;
  }
  .wrapper {
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1215px) {
  .wide .block {
    display: none;
  }
  .wide .wrapper {
    left: 0;
    width: 100%;
  }
}
