.nav {
  padding: 0.25rem 0;
  height: 50px;
  left: 0;
  display: flex;
  align-items: center;
  font-family: var(--poppins);
}

.logo {
  color: var(--text);
  text-decoration: none;
  font-size: 1.25rem;
  font-family: var(--overpass);
  font-weight: 600;
}

.items {
  width: 100%;
  display: flex;
  justify-content: right;
  font-size: 0.9rem;
}

.items a {
  color: var(--text);
  margin-left: 1rem;
  text-decoration: none;
}

@media screen and (max-width: 775px) {
  .items {
    width: auto;
  }
}
