.content {
  transition: 0.15s;
  padding: var(--modal-pad);
  color: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: absolute;
  width: 100%;
}

.content.show {
  right: 0;
  visibility: visible;
}

.content.hidden {
  right: -100%;
  visibility: hidden;
}

.titleInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.titleInput span {
  font-size: 0.9rem;
}

.titleInput input {
  font-size: 1.25rem;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  padding: 0.1rem;
  font-family: inherit;
}

.choices {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 150px;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.choiceTitle span {
  color: var(--red);
}

.choice {
  position: relative;
}

.choice div {
  height: 100%;
}

.choiceInputContainer {
  background-color: var(--accent);
  border-radius: 0.25rem;
}

.choice input {
  font-family: inherit;
  left: 50%;
  top: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  width: 90%;
  border: none;
  text-align: center;
  padding: 1rem;
  border-radius: 0.25rem;
}

.correctContainer {
  margin: 0.5rem;
  border-radius: 50%;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  background: none;
}

.correctContainer:hover {
  cursor: pointer;
}

.correctContainer img {
  margin: -2px 0 0 -2px;
}

.actions {
  display: flex;
  grid-column-start: 2;
  justify-self: end;
  margin-top: 1rem;
}

.actions button {
  font-family: inherit;
}

.actions .return {
  cursor: pointer;
  border: none;
  background: none;
  margin-right: 1.25rem;
  display: flex;
  align-items: center;
}

.defaultBtn {
  transition: 0.15s;
  color: rgba(0, 0, 0, 0.8);
  font-family: inherit;
  background-color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.defaultBtn:hover {
  cursor: pointer;
  background-color: var(--accent-hover);
  border: 2px solid var(--accent-hover);
}

.errors {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  border-radius: 0.25rem;
  bottom: 0;
  position: absolute;
  width: calc(100% - 10rem);
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: var(--red-0-5);
}

.errors ul {
  list-style: none;
}
