.pagination {
  margin: 2rem 0;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.pagination button {
  cursor: pointer;
  font-size: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 32px;
  height: 32px;
  border-radius: var(--default-btn-radius);
  font-family: inherit;
  background: none;
  color: var(--text);
}

.pagination button:hover {
  border: 1px solid var(--text);
  background-color: var(--text);
  color: rgba(0, 0, 0, 0.8);
}

.pages {
  display: flex;
}

.pages li {
  color: var(--text);
  cursor: pointer;
  padding: 0 0.5rem;
  margin: 0.25rem 0.1rem;
  list-style-type: none;
}

.pages li.current {
  color: var(--grey);
}
