.content {
  transition: 0.15s;
  padding: var(--modal-pad);
  color: var(--text);
  position: absolute;
  width: 100%;
  height: 100%;
}

.content.show {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.content.hidden {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  opacity: 0;
  visibility: hidden;
}

.content div {
  transition: 0.15s;
}

.titleInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.titleInput span {
  font-size: 0.9rem;
  color: var(--text);
}

.titleInput input {
  background: none;
  font-size: 1.25rem;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  color: var(--text);
  font-weight: 600;
  padding: 0.1rem;
  font-family: inherit;
}

.grid {
  overflow-y: auto;
  position: relative;
  height: 47vh;
}

.gridItems,
.titles {
  font-size: 0.85rem;
}

.titles h3 {
  font-size: 0.9rem;
}

.titles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.25rem;
}

.titles h3 {
  font-weight: 400;
}

.gridItems,
.titles,
.titleInput {
  padding: 0 1rem;
}

.gridItems .item {
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item div {
  display: flex;
}

.item .column {
  display: flex;
  align-items: center;
}

.item .text {
  padding: 0.2rem;
  width: 100%;
}

.item .number {
  width: 20px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  margin-left: -0.8rem;
}

.item .question {
  background-color: var(--light-blue-0-5);
  border: 2px solid var(--light-blue);
  border-right: none;
}

.item .answer {
  background-color: var(--accent-0-5);
  border: 2px solid var(--accent);
  border-left: none;
}

.item button {
  cursor: pointer;
  border: none;
  background: none;
}

.item button:first-child {
  margin: 0 0.5rem;
}

.item button img {
  opacity: 0.8;
}
.item button:hover img {
  opacity: 1;
}

.newBtn {
  width: 65px;
  margin: 0.5rem 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.defaultBtn {
  transition: 0.15s;
  color: rgba(0, 0, 0, 0.8);
  font-family: inherit;
  background-color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.defaultBtn:hover {
  cursor: pointer;
  background-color: var(--accent-hover);
  border: 2px solid var(--accent-hover);
}

.defaultBtn:active {
  transition: 0.05s;
  outline: 2px solid var(--accent-hover);
  outline-offset: 2px;
}

.empty {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.empty .newBtn {
  width: 150px;
  bottom: 0;
}

.errorList {
  font-size: 0.85rem;
  position: absolute;
  width: 250px;
  bottom: -50%;
  text-align: center;
  list-style-type: none;
  color: var(--red);
}

.errorList.bottom {
  text-align: left;
  position: relative;
  margin: auto;
  margin-right: 1.5rem;
  width: auto;
}

.botActions {
  bottom: 0;
  left: 5rem;
  width: calc(100% - 10rem);
  position: absolute;
  margin-bottom: 2rem;
  border-top: 3px solid rgba(0, 0, 0, 0.5);
}

.botActions div {
  margin: 2rem 0 0 0;
  display: inline-flex;
}

.deleteBtn {
  transition: 0.15s;
  color: rgba(0, 0, 0, 0.8);
  font-family: inherit;
  background-color: var(--red);
  border: 2px solid var(--red);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.deleteBtn:hover {
  cursor: pointer;
  background-color: var(--red-hover);
  border: 2px solid var(--red-hover);
}

.deleteBtn:active {
  transition: 0.05s;
  outline: 2px solid var(--red-hover);
  outline-offset: 2px;
}

.botActions .rightActions {
  float: right;
}

.privateBtn {
  font-family: inherit;
  border: none;
  background: none;
  display: flex;
  align-items: center;
}

.privateBtn:hover {
  cursor: pointer;
  font-weight: 600;
}

.privateBtn span {
  margin-left: 0.1rem;
}

.botActions .privateBtn {
  margin-right: 1rem;
  color: var(--text);
}

.privateBtn img {
  filter: var(--white-filter);
}
