.card {
  position: relative;
  transition: 0.15s;
  background-color: var(--accent-0-5);
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 225px;
  height: 125px;
}

.card.skeleton {
  background: none;
}

.card.skeleton:hover {
  transform: none;
}

.card:hover {
  transform: translateY(-3px);
}

.title a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.tag,
.authorName {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
}

.tag {
  font-size: 0.7rem;
  padding: 0.1rem 0.3rem;
  border-radius: 5rem;
  background-color: var(--accent);
}

.authorName {
  position: absolute;
  margin: 0.5rem 0;
  bottom: 0;
}
